<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ADITYA SINGH/OneDrive/Desktop/Amazon project/Amazon_Automation_project">
        <classes>
            <class name="product.Test.TC001_LoginTest">
                <methods>
                    <include name="logingTest"/>
                </methods>
            </class>
            <class name="product.Test.TC002_SearchIphone">
                <methods>
                    <include name="SearchTest"/>
                </methods>
            </class>
            <class name="product.Test.TC003_ElectricToothbrush">
                <methods>
                    <include name="burshsearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>